@import '../../../assets/media';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.mainImage {
    @apply w-72 h-72 px-10 mb-10 rounded-md;
    @include media(tablet) {
        @apply w-52 h-52;
    }
    @include media(mobile) {
		@apply w-52 h-52;
	}
}

.gridImages {
    @apply grid grid-cols-3 gap-5;
    @include media(tablet) {
		@apply grid grid-cols-2 gap-4;
	}
    @include media(mobile) {
		@apply grid grid-cols-2 gap-4;
	}

    .image {
        @apply w-40 h-40;
        @include media(tablet) {
            @apply w-32 h-32;
        }
        @include media(mobile) {
            @apply w-32 h-32;
        }

        &:hover {
            transform: scale(1.05);
            transition: transform 0.25s;
        }
    }
}

.active {
    @apply border-[#000] border border-solid rounded-md
}

.unActive {
    @apply border-[#fff] border border-solid rounded-md
}

.image {
    @apply w-full h-52 bg-cover bg-center bg-no-repeat rounded-md;
}