.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.mainImage {
    @apply w-72 h-72 px-10 mb-10 rounded-md;
}

.gridImages {
    @apply grid grid-cols-3 gap-5;

    .image {
        @apply w-40 h-40;
    }
}

.active {
    @apply border-[#000] border border-solid rounded-md
}

.unActive {
    @apply border-[#fff] border border-solid rounded-md
}

.image {
    @apply w-full h-52 bg-cover bg-center bg-no-repeat rounded-md;
}