.container {
    height: auto;
    width: 255px;
    border: 2px solid black;
    border-top-left-radius: 15px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    @apply bg-white;

    .image {
        @apply mb-1 w-full h-52 bg-cover bg-center bg-no-repeat;
    }

    .titles {
        @apply mt-auto mr-auto;
    }

    .title {
        @apply text-xl mt-2 font-semibold;       
    }

    .price {
        @apply text-lg mt-5; 
    }
}

.container:hover {
    transform: scale(1.05);
    transition: transform 0.25s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

