.container {

    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        font-size: 20px;
        font-weight:600;
        margin-top: 10px;
    }

    h2 {
        
    }

    header {
        @apply bg-blue-400 h-16 w-full flex items-center justify-center;
    }
    
    nav {
        @apply font-semibold text-lg;
    
        .link:hover {
            color: rgba(224, 233, 247, 0.782)
        }
    }

    a {
        @apply mx-8;
    
        &:hover {
            transform: scale(1.05);
            transition: transform 0.25s;
            -webkit-transition: transform 0.25s;
            -moz-transition: transform 0.25s;
            -ms-transition: transform 0.25s;
            -o-transition: transform 0.25s;
}
    }
}