.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title {
    @apply mb-10 text-3xl font-semibold;
}

.gridContainer {
    @apply grid grid-cols-4 gap-7;
}